.nav-container {
  background-color: #101BCC;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-container a {
  color: #FFF;
}

.nav-container a:hover, 
.current-page-link {
  text-decoration: underline;
}

.nav-container-invisible {
  visibility: hidden;
}

.nav-container .container,
.nav-container-invisible .container {
  padding: 7px 0;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.cart-count-container {
  display: flex;
  justify-content: space-between;
}

.nav-container .counter,
.nav-container-invisible .counter {
  margin-left: 8px;
  color: #101BCC;
}