.nav-container {
  background-color: #101BCC;
}

.nav-container .container {
  padding: 7px 0;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}

.cart-count-container {
  display: flex;
  justify-content: space-between;
}

.nav-container .counter {
  margin-left: 8px;
  color: #101BCC;
}