.product-overview {
  text-align: center;
  font-weight: 300;
  border-radius: 3px;
  border: solid 1px #C9B9B9;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.product-overview:hover {
  border: solid 1px #101BCC;
}

.product-overview img {
  margin-bottom: 0.7em;
  border-radius: 3px 3px 0 0;
}

.overview-text {
  margin-bottom: 0.5em;
}

.product-name {
  font-size: 0.9em;
}

.product-price {
  font-size: 1.1em;
}

.product-overview .button:hover {
  border: solid 1px #101BCC;
  color: #101BCC;
}