body, a, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #5F5F5F;
}

.img-responsive {
  width: 100%;
}

a,
a:hover,
a:visited,
a:active {
  color: #5F5F5F;
  text-decoration: none;
}
